@model SchoolProject.Models.ViewModels.ShowTeacher
@{
    ViewBag.Title = "Show";
}

<!-- Shows information about 1 teacher -->

<div id="containershow">
    <nav>
        <a class="navlink" href="/Teacher/List">Back to Teachers</a>
        <a class="dellink" href="/Teacher/DeleteConfirm/@Model.Teacher.TeacherId">Delete</a>
        <a class="navlink" href="/Teacher/Update/@Model.Teacher.TeacherId"> Update Teacher profile</a>
    </nav>
</div>

 <div>  
<h1>Teacher:</h1>
<h2>@Model.Teacher.TeacherFname @Model.Teacher.TeacherLname</h2>

<p>StaffID: @Model.Teacher.TeacherId</p>
<p>Since @Model.Teacher.HireDate.ToString("yyyy-MM-dd")</p>

</div>
<div class="col2">
<h3>Courses:</h3>
<ul>
    @foreach (var course in @Model.CourseTaught)
    {
        <li><a href="/Course/Show/@course.CourseId">@course.CourseName</a></li>
    }
</ul>
</div>


